<%- include('../partials/head.ejs') %>		
<title>Change Password | Random Jobs</title>
<%- include('../partials/navprofilepages.ejs') %>


<!-- Sign Up section start -->
<section class="login-wrapper">
    <div class="container">
        <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
            <%if(errors.length>0){%>
            <div class="alert alert-danger">
                <%errors.forEach(error=>{%> <%= error%><br />
                <%})%>
            </div>
            <%}%>
            <form action="/resetpassword" method="POST">
                <h2>Change Password</h2>
                <input type="password" class="form-control input-lg" name="new_password" placeholder="New Password" required>
                <input type="password" class="form-control input-lg" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>		
    </div>
</section>
<!-- Sign Up section End -->	

<%- include('../partials/footer.ejs') %>