<%- include('../partials/head.ejs') %>
<title> Posted Jobs | Random Jobs</title>
<%- include('../partials/navprofilepages.ejs') %>

<style> 
div{
    align-items: center;
}

section{
    text-align: center;
    background-color: #036961;
    color: #ffffff;
    height: 250px;
}
</style>

<section >
<div>
    <div class="caption">
    </br>
<text color:"#ffffff" style="font-size: 55px">You have not Posted any Job yet!</text></div>
</div>
</section>


<%- include('../partials/footer.ejs') %>	