<%- include('../partials/head.ejs') %>
<title> Requested Jobs | Random Jobs</title>
<%- include('../partials/navprofilepages.ejs') %>

<style> 
div{
    align-items: center;
}

section{
    text-align: center;
    background-color: #036961;
    color: #ffffff;
    height: 250px;
}
</style>

<section >
<div>
    <div class="caption">
    </br>
<text color:"#ffffff" style="font-size: 55px">There is no job with the keyword/s!</text></div>
</div>
</section>


<%- include('../partials/footer.ejs') %>	